<div class="container">
  <h2 class="text-muted">Commits <small>Overview</small></h2>
<!--Table-->
<table class="table table-striped w-auto">

  <!--Table head-->
  <thead>
  <tr>
    <th>#</th>
    <th>Message</th>
    <th>Hash</th>
    <th>User</th>
    <th>Date</th>
    <th>Repository</th>
  </tr>
  </thead>
  <!--Table head-->

  <!--Table body-->
  <tbody>
  <tr class="table-info">
    <th scope="row">1</th>
    <td>Commit Message</td>
    <td>Commit Hash</td>
    <td>User Detail</td>
    <td>Date</td>
    <td>Repo Detail</td>
  </tr>
  </tbody>
  <!--Table body-->


</table>
<!--Table-->
</div>
