<div class="login-page" [@routerTransition]>
  <div class="loginBox">
    <img class="user" src="assets/images/logo.png">
    <h4>BitBucket Analytics</h4>
    <form>
      <input type="email" name="email" placeholder="Enter Email" required>
      <input type="password" name="password" placeholder="Enter Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
      <input type="submit" name="sign-in" value="Sign In">
      <hr>
      <p style="text-align: center; color: #eeeeee">OR</p>
      <input type="submit" name="sign-in" value="Sign in with Bitbucket" (click)="authenticate('bitbucket')">
    </form>
  </div>
</div>
