<div [@routerTransition]>
    <h2 class="text-muted">Repositories <small>Overview</small></h2>
  <div class="page-header">
    <hr>
  </div>
  <div class="row">
    <div *ngFor="let repo of repo" class="col-sm-3">
      <div class="card text-white bg-dark mb-3" (click)="getRepoSlug(repo.slug)">
        <div class="card-header card-title">
          <img class="card-img-overlay"  src="{{repo.links.avatar.href}}" alt="Avatar image" style="height: 90px; width: 90px; float: left;">
          <p style="font-size: 1vw; float: right;" class="font-weight-bold text-white text-uppercase ">{{repo.name}}</p>
          </div>
        <div class="card-body">
          <h5 class="card-text ">Repository General Details</h5>
          <p>Created On: {{repo.created_on|date:'medium'}}</p>
          <p>Owner: {{repo.owner.nickname}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

