<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group" [hidden]="showElement" >
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;
            <span>{{ 'Dashboard' | translate }}</span>
        </a>
    </div>
  <div class="list-group" [hidden]="hideElement"  >
    <a routerLink="repository/{{slug}}"  class="list-group-item">
      <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
      <span>{{ 'General Information' | translate }}</span>
    </a>
  </div>

  <div class="list-group " [hidden]="hideElement" >
    <a routerLink="commits/{{slug}}"  class="list-group-item">
      <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
      <span>{{ 'Commits' | translate }}</span>
    </a>
  </div>

  <div class="list-group " [hidden]="hideElement">
        <a routerLink="charts/{{slug}}" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
            <span>{{ 'Charts' | translate }}</span>
        </a>
  </div>

  <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' | translate }}</span>
    </div>
</nav>
